@model MJU.DataCenter.PortalWebApi.Models.HomeViewModel

    <div class="row">
        <div class="col-md-12">
            <div class="card card-green-theme">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-exclamation-triangle"></i>
                        การจัดการสิทธิ์สำหรับผู้ดูแลระบบ
                    </h3>
                    <button type="button" class="btn btn-default float-right text-green">เพิ่มสิทธิ์</button>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-valign-middle dataTable bg-white" id="superAdminRoletable">
                        <thead id="superAdminRoletable-thead">
                            <tr>
                                <th>ชื่อสิทธิ์</th>
                                <th>ชื่อหน่วยงาน</th>
                                <th>รหัสหน่วยงานที่ใช้อ้างอิง</th>
                                <th>API Token Key</th>
                            </tr>
                        </thead>
                        <tbody id="superAdminRoletable-tbody">

                            @foreach (var item in Model.DepartmentRoles)
                            {
                            <tr>
                                <td>@item.DepartmentRoleName</td>
                                <td>@item.DepartmentRoleNameTH</td>
                                <td>@item.DepartmentKey</td>
                                <td>@Html.TextBox("key-" + item.DepartmentRoleId, item.DepartmentApiToken, new { @class = "text-" + item.DepartmentRoleId + " fullWidth", Disabled = "Disabled", id = "departmentKey" + item.DepartmentRoleId })</td>
                                <td><button class="btn btn-success" id="generateTokenBtn" value="@item.DepartmentRoleId"><i class="fa fa-key"></i> บันทึก</button></td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="generateTokenBtnModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">ยืนยันการบันทึก</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>คุณต้องการบันทึก API Token Key หรือไม่</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="Save()">บันทึก</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    $("#generateTokenBtn").click(function () {

        $('#generateTokenBtnModal').modal('show');                          
    });

    async function Save() {
        var departmentRoleId = $('#generateTokenBtn').val();
        $.post("@Url.Action("GenDepartmentKey", "Account")", { departmentRoleId: departmentRoleId }, function (data) {

            var id = '#departmentKey' + departmentRoleId;
            $(id).val(data.departmentApiToken)
            //$('#departmentKey' + departmentRoleId).append(data.departmentApiToken);
     });
    }

</script>